#App
*app
launch.json

# Symbols folder
.alpackages/*
.netpackages/
.snapshots/
.vscode/.alcache/
.vscode/.altemplates/
.vscode/launch.json
.vscode/rad.json
.alcache/
.altemplates/

# Project Output
*.app

#AL Test Runner
.altestrunner

#Do not ignore these files